.input_outer{width:241px; height:28px; background:url(../img/front/input_bg.png) top no-repeat;}
.input_outer input{width:222px; border:0px; font:13px Arial, Helvetica, sans-serif; color:#000; margin:5px 0 0 7px;}

.input_outer2{width:170px; height:37px; background:url(../img/front/input_bg2.png) top no-repeat;}
.input_outer2 input{width:150px; border:0px; font:13px Arial, Helvetica, sans-serif; color:#000; margin:10px 0 0 8px;}

.input_outer3{width:98px; height:37px; background:url(../img/front/input_bg3.png) top no-repeat;}
.input_outer3 input{width:70px; border:0px; font:13px Arial, Helvetica, sans-serif; color:#000; margin:10px 0 0 8px;}

.input_outer4{width:88px; height:37px; background:url(../img/front/input_bg4.png) top no-repeat;}
.input_outer4 input{width:64px; border:0px; font:13px Arial, Helvetica, sans-serif; color:#000; margin:10px 0 0 8px;}

.input3{border:0px; width:100px; border-bottom:1px solid #bfbfbf;} 

span.red{color:#dd4207; font:14px Arial, Helvetica, sans-serif;}
  
.circle{width:27px; background:url(../img/front/circle.png) top no-repeat; height:27px; margin:0 12px 0 0;}
.circle p{font:bold 14px Arial, Helvetica, sans-serif; color:#ffffff; text-align:center; padding:4px 0 0 0;}

.email_logo ul{margin:0px; padding:22px 0 30px 0; overflow:hidden;}
.email_logo li{list-style:none; float:left; padding:0 10px 0 0;}

.form_table {font:12px Arial, Helvetica, sans-serif; color:#000100; padding:6px 6px 6px 0;}
.form_table strong{font:bold 12px Arial, Helvetica, sans-serif; color:#000100;}
.form_table span{font:bold 12px Arial, Helvetica, sans-serif; color:#838383;}

.input1{width:258px; border:1px solid #cfcfcf; border-top:2px solid #cfcfcf; border-left:2px solid #cfcfcf; padding:2px; font:12px Arial, Helvetica, sans-serif; color:#838383;}
.input2{width:526px; border:1px solid #cfcfcf; border-top:2px solid #cfcfcf; border-left:2px solid #cfcfcf; padding:2px; font:12px Arial, Helvetica, sans-serif; color:#838383;}

.textarea1{width:526px; height:125px; border:1px solid #cfcfcf; border-top:2px solid #cfcfcf; border-left:2px solid #cfcfcf; padding:2px; font:12px Arial, Helvetica, sans-serif; color:#838383;}


/*--------------------- css for popup ------------------*/

body.transparent{background:none;}
.popup_outer{width:674px; margin:0 auto;}
.popup_top, .popup_bottom{width:674px;}
.popup_mid{width:556px; background:url(../img/front/popup_mid.jpg) top; padding:0 59px;}
.popup_indent{overflow:hidden; padding:0 12px;}
.popup_indent h1{font:600 46px "Myriad Pro"; color:#920c08; text-transform:uppercase; padding:20px 0;}
.popup_indent h1 img{vertical-align:middle; padding:0 18px 0 0;}

.popup_indent2{border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; background:#efefef; width:556px; padding:10px 0; overflow:hidden;}
.block1{width:153px; float:left; background:#fff; border:1px solid #c4c3c3; margin:0 0 0 9px; padding:12px 9px;}
.block1 h6{font:600 22px "Myriad Pro"; color:#0f0f0f; margin:0px; padding:5px 0 0 0; text-align:center;} 
.block1 h5{font:600 38px "Myriad Pro";  color:#920c08; padding:8px 0 0 0; text-align:center;}

table.form_inner{padding:15px 0 0 0;}
table.form_inner td{font:14px Arial, Helvetica, sans-serif; color:#393a3a; padding:0 8px 10px 0;}
table.form_inner td a{font:14px Arial, Helvetica, sans-serif; color:#f7941d; text-decoration:underline;}
table.form_inner td a:hover{font:14px Arial, Helvetica, sans-serif; color:#f7941d; text-decoration:none;}

table.form_inner2 td{font:12px Arial, Helvetica, sans-serif; color:#393a3a; padding:0 4px 10px 0;}
table.form_inner3 td{font:13px Arial, Helvetica, sans-serif; color:#230202; text-transform:uppercase;  padding:0 8px 10px 0;}
table.form_inner4 td{font:14px Arial, Helvetica, sans-serif; color:#030303; padding:20px 6px 0 0;}
table.form_inner4 td td{padding:18px 6px 0 0;}



table.form_inner td span{font:16px Arial, Helvetica, sans-serif; color:#920c08;}
table.form_inner td strong{font:bold 16px Arial, Helvetica, sans-serif; color:#920c08;}
table.form_inner td span.red{color:#dd4207; font:14px Arial, Helvetica, sans-serif;}
table.form_inner td span.small{font:11px Arial, Helvetica, sans-serif; color:#989897;}

table.form_inner td h4{font:16px Arial, Helvetica, sans-serif; color:#000000; padding:6px 0 10px 0;}
table.form_inner td h4 a{font:16px Arial, Helvetica, sans-serif; color:#f7941d; text-decoration:underline;}
table.form_inner td h4 a:hover{font:16px Arial, Helvetica, sans-serif; color:#f7941d; text-decoration:none;}
table.form_inner td h3{font:bold 16px Arial, Helvetica, sans-serif; color:#000000; padding:6px 0 10px 0;}

.input_01{font:13px Arial, Helvetica, sans-serif; color:#030303; border:0px; border-bottom:1px solid #030303; width:492px;}
.input_02{font:13px Arial, Helvetica, sans-serif; color:#030303; border:0px; border-bottom:1px solid #030303; width:292px;}


table.form_inner td.text_02{font:12px Arial, Helvetica, sans-serif; color:#393a3a;}

h5.head_01{font:600 38px "Myriad Pro"; color:#920c08; text-align:center; text-transform:uppercase; padding:12px 0 0 0;}
h5.head_02{font:600 35px "Myriad Pro"; color:#920c08; text-align:center; text-transform:uppercase; padding:12px 0 0 0;}
h5.head_03{font:600 30px "Myriad Pro"; color:#920c08; text-transform:uppercase;}
h5.head_03 a{font:600 30px "Myriad Pro"; color:#920c08; text-decoration:none;}
h5.head_03 span{font:600 14px "Myriad Pro"; color:#4e4e4e; text-transform:none;}

h1.head_04{font:600 30px "Myriad Pro"; color:#000; padding:12px 0 0 0;}
h1.head_05{font:600 48px "Myriad Pro"; color:#920c08; text-align:center; text-transform:uppercase; padding:12px 0 0 0;}


p.text_01{font:600 22px "Myriad Pro"; color:#1b1616; text-align:center; padding:8px 0 0 0;}
p.text_02{font:400 36px "Myriad Pro"; color:#930100; text-align:center; padding:8px 0 0 0;}
p.text_02 strong{font:600 49px "Myriad Pro"; color:#930100; text-align:center;}
p.text_03{font:bold 15px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#230202; text-transform:uppercase; padding:0 0 8px 12px;} 
p.text_04{font:14px Arial, Helvetica, sans-serif; color:#484747; padding:8px 0 0 12px;}
p.text_06{font:bold 16px Arial, Helvetica, sans-serif; color:#000; padding:8px 0 18px 0;}
p.text_07{font:27px "Helvetica Neue"; color:#000; text-transform:uppercase;}
p.text_08{font:bold 15px/22px Arial, Helvetica, sans-serif; color:#230202; padding:10px 0 0 0;}
p.text_08 span{font:bold 15px/22px Arial, Helvetica, sans-serif; color:#960a0a; text-transform:uppercase;}
.text_09{font:23px Arial, Helvetica, sans-serif; color:#930100;}
.text_09 span{font:23px "Helvetica Neue"; color:#1b1616;}
p.text_10{font:600 26px "Myriad Pro"; color:#1b1616; padding:8px 0 0 0; text-align:center;}

.popup_outer2{width:728px; background:#efefef; border:8px solid #ffffff;}
.popup_outer3{width:911px; background:#efefef; border:8px solid #ffffff;}
.stroke{border:1px solid #e1e1e1; overflow:visible;}
.popup_container{width:629px; margin:0 auto; padding:20px 0;}
.popp_top2{width:629px; height:9px; background:url(../img/popup_top2.jpg) bottom no-repeat;}
.popup_bottom2{width:629px; height:9px;background:url(../img/popup_bottom2.jpg) top no-repeat;}
.popup_mid2{width:629px; background:url(../img/front/popup_mid2.jpg) top;}

.popup_top3{background:url(../img/front/popup_top3.jpg) top no-repeat; width:674px; height:89px;}
.popup_top3 h5{font:bold 21px Arial, Helvetica, sans-serif; color:#920c08; text-align:center; padding:40px 0 0 0;}

.logo_small{width:122px; height:122px; position:absolute; margin:-50px 0 0 12px;}

.popup_content{width:auto; overflow:hidden; padding:22px 0 0 0;}
.popup_sidebar{width:192px; float:left; padding:0 0 0 12px;}
.schedule_col{width:316px; float:left; padding:0 0 0 3px;}
.popup_coupon{width:192px;}
.inner_banner{width:192px; text-align:center; padding:17px 0 0 0;}

.schedule_box{width:316px; padding:0 0 25px 0;}
.schedule_box p{font:14px/20px Arial, Helvetica, sans-serif; color:#930100; text-transform:uppercase;}
.top_crv, .bottom_crv{width:316px;}
.schedule_mid{width:280px; background:url(../img/front/mid_bg.jpg) top; padding:6px 18px; overflow:hidden;}
.calendar_img{width:55px; float:left;}
.schedule_des{width:220px; float:right;}
.calendar_img2{width:55px; float:left; padding:25px 0 30px 0;}
.schedule_des2{width:220px; float:right; padding:27px 0 30px 0;}

.free_coffee{width:336px; float:left;}
.daily_deal{width:350px; float:right;}
.daily_deal p{font:17px/18px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#333333;}
.daily_deal p span{font:bold 22px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#920c08; text-transform:uppercase; letter-spacing:-1px;}

.popup_container2{width:auto; padding:15px 0;}
.left_img{width:187px; float:left; padding:0 0 8px 0;}
.right_buttons{width:107px; float:right; padding:45px 0 0 0;}

.popup_left{width:337px; float:left;}
.ishop_logo{width:337px; text-align:center;}
.order_banner{width:337px; padding:38px 0 0 0;}
.popup_left p{font:14px/18px Arial, Helvetica, sans-serif; color:#000000; padding:18px 0 0 0;}


.popup_right{width:489px; float:left; padding:0 0 0 20px;}
.steps{width:489px; border-top:1px solid #cfcfcf; border-bottom:1px solid #cfcfcf; padding:14px 0; margin:35px 0 0 0; overflow:hidden;}
.steps_bg{width:158px; background:url(../img/front/steps_bg.png) top no-repeat; height:85px;}
.steps_bg p{font:24px "Helvetica Neue"; color:#fff; text-align:center; padding:34px 0 0 0; text-transform:uppercase;}

.discount_form{width:489px; padding:24px 0 0 0;}
.bottom_crv3{width:489px; height:9px; background:url(../img/front/bottom_crv2.jpg) top no-repeat;}
.top_crv3{width:489px; background:url(../img/front/top_crv2.jpg) top no-repeat; height:57px;} 
.top_crv3 p{font:bold 18px Arial, Helvetica, sans-serif; color:#920c08; text-transform:uppercase; padding:14px 0 0 15px;} 
.form_indent{width:459px; background:url(../img/front/mid_bg2.jpg) top; padding:0 15px;}

.order_banner2{width:677px; padding:26px 0 0 0; margin:0 auto;}

.popup_content2{width:677px; margin:0 auto; overflow:hidden;}
 
h2.head_02{font:600 30px "Myriad Pro"; color:#920c08; text-transform:uppercase; padding:28px 0 0 0;} 
p.text_05{font:600 22px "Myriad Pro"; color:#1b1616; padding:14px 0 0 0;}
h3.head_01{font:600 23px "Myriad Pro"; color:#920c08; text-transform:uppercase; padding:35px 0 0 0;}

.popup_content3{width:auto; padding:14px 20px; overflow:hidden;}

ul.list1{margin:0px; padding:0px;}
ul.list1 li{list-style:none; float:left; padding:0 21px 0 0; font:12px Arial, Helvetica, sans-serif; color:#393a3a; text-align:center; text-transform:uppercase;}
ul.list1 li a{font:12px Arial, Helvetica, sans-serif; color:#393a3a; text-decoration:none;}
ul.list1 li a:hover{font:12px Arial, Helvetica, sans-serif; color:#393a3a; text-decoration:none;}

ul.list1 li img{padding:0 0 10px 0;}

.premier_head{width:300px; float:left; background:#e7e7e7; padding:10px;}
.premier_head h1{font:52px "Helvetica Neue"; color:#960a0a; text-transform:none; padding:0px;}
.premier_head h1 span{font:24px "Helvetica Neue"; color:#1b1616;}

.ishop_logo2{width:120px; float:right;}

ul.liststyle2{margin:0px; padding:12px 45px 0 0; float:left;}
ul.liststyle2 li{list-style:none; font:16px Arial, Helvetica, sans-serif; color:#1b0202; background:url(../img/front/arrow.jpg) 0 5px no-repeat; padding:0 0 10px 14px;}
ul.liststyle2 li a{font:16px Arial, Helvetica, sans-serif; color:#1b0202; text-decoration:none;}
ul.liststyle2 li a:hover{font:16px Arial, Helvetica, sans-serif; color:#1b0202; text-decoration:underline;}

.form_indent2{padding:22px 8px; width:auto; overflow:hidden;}
.form_indent2 h2{font:22px "Myriad Pro"; color:#010101; border-bottom:1px solid #dadad8; padding:0 0 5px 0; margin:0 0 8px 0; text-transform:uppercase;}

.special_discount{width:332px; float:left;}

.print_data{padding:16px 0 0 0;}
.print_data th{font:13px Arial, Helvetica, sans-serif; color:#4c4c4c; text-transform:uppercase; padding:0 0 4px 0;}
.print_data th a{font:13px Arial, Helvetica, sans-serif; color:#4c4c4c; text-decoration:underline;}
.print_data th a:hover{font:13px Arial, Helvetica, sans-serif; color:#4c4c4c; text-decoration:none;}

.print_data th span{font:13px Arial, Helvetica, sans-serif; color:#aa0d0a;}
.print_data th span a{font:13px Arial, Helvetica, sans-serif; color:#aa0d0a; text-decoration:underline;}
.print_data th span a:hover{font:13px Arial, Helvetica, sans-serif; color:#aa0d0a; text-decoration:none;}


.print_data td{font:14px Arial, Helvetica, sans-serif; color:#4c4c4c; background:url(../img/front/alt_bg.jpg) top left no-repeat; height:27px; vertical-align:middle; padding:0 0 0 12px;}
.print_data td strong{font:bold 12px Arial, Helvetica, sans-serif; color:#aa0d0a;}
.print_data td td{background:none; padding:0px; height:inherit;}

.padl20{margin-left:20px;}

.packages_outer{width:539px; padding:25px 0 0 0; overflow:hidden; margin:0 0 0 32px;}
.premier_package{width:251px; float:left;}
.head_col{width:auto; background:url(../img/front/gray_bg2.jpg) bottom repeat-x #e7e7e7; height:86px;}
.head_col h1{font:500 45px "Helvetica Neue"; color:#1b1616; padding:12px 0 0 16px; text-transform:none;}
.head_col h1 span{font:500 20px "Helvetica Neue"; color:#1b1616;}

.head_col h2 span{font:20px "Helvetica Neue"; color:#1b1616; height:20px; padding:0 0 0 16px;  margin:0;}

ul.liststyle3{margin:0px; padding:12px 45px 0 6px;}
ul.liststyle3 li{list-style:none; font:16px Arial, Helvetica, sans-serif; color:#230202; background:url(../img/front/arrow.jpg) 0 5px no-repeat; padding:0 0 7px 11px;}
ul.liststyle3 li a{font:16px Arial, Helvetica, sans-serif; color:#230202; text-decoration:none;}
ul.liststyle3 li a:hover{font:16px Arial, Helvetica, sans-serif; color:#230202; text-decoration:underline;}
ul.liststyle3 li strong{font:bold 16px Arial, Helvetica, sans-serif; color:#230202;}

.price1{width:251px; padding:25px 0 0 0;}
.submit{width:auto; padding:25px 0 30px 60px;}

.price2{width:auto; padding:25px 0 0 0;}
.submit2{width:auto; padding:25px 0 30px 60px;}


.featured_package{width:282px; float:left; border-left:1px solid #dadad8;}
.bdrlft{border-left:1px solid #fff;}
.packages_content{width:auto; padding:0 0 0 10px;}

.login_strip{width:auto; margin:12px 0 0 0;}
.login_strip p{font:13px Arial, Helvetica, sans-serif; color:#696363;}
.login_strip p a{font:13px Arial, Helvetica, sans-serif; color:#696363; text-decoration:none; background:#e2e0e0; padding:4px 14px;}
.login_strip p a:hover{font:13px Arial, Helvetica, sans-serif; color:#696363; text-decoration:none;}

span.red2{color:#920c08; font:14px Arial, Helvetica, sans-serif;}

.packages_content h4{font:400 18px "Myriad Pro"; color:#000000; padding:25px 0 10px 0;}
.packages_content h4 a{font:400 18px "Myriad Pro"; color:#000000; text-decoration:none;}
.packages_content h4 a:hover{font:400 18px "Myriad Pro"; color:#000000; text-decoration:none;}
.packages_content img{vertical-align:middle;}
 
.click_here{margin:10px 0 0 0;}
a.click_here{font:13px Arial, Helvetica, sans-serif; color:#920c08; text-decoration:underline;}
a.click_here:hover{font:13px Arial, Helvetica, sans-serif; color:#920c08; text-decoration:none;}

.ishop_logo3{width:569px; overflow:hidden; margin:0 0 0 17px; border-top:1px solid #dadad8; height:120px;}
.logo_indent{width:120px; height:120px; position:absolute; margin:-8px 0 0 430px;}

.pro_details{width:493px; float:left;}
.pro_details h1{font:900 25px "Helvetica Neue LT Std"; color:#930100; padding:4px 0 0 0; text-transform:uppercase;}
.pro_details h1 span{font:900 20px "Helvetica Neue LT Std"; color:#000; text-transform:none;}

.details_indent{width:493px; overflow:hidden;}